.apprentissage {
    &_main {
        width: 93%;
        margin: 20px auto 100px auto;
        padding: 0;
        &-course {
            height: max-content;
            width: 100%;
            background: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            cursor: pointer;
            margin-bottom: 30px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            &_link {
                @include display(flex, row, space-between, center, 10px);
                text-decoration: none;
                padding: 10px 20px 10px 10px;
                &-title {
                    @include display(flex, row, flex-start, center, 15px);

                    img {
                        width: 95px;
                        height: 65px;
                        border-radius: 7px;
                    }
                    div {
                        h3 {
                            color: $blue;
                            font-size: 17px;
                        }

                        p {
                            font-size: 10px;
                            color: $text;
                        }
                    }
                }
                .fa-solid {
                    color: $blue;
                    background-color: $sec-bg;
                    padding: 5px 10px;
                    border-radius: 50%;
                    font-size: 20px;
                }
            }
        }
    }

    &_vide {
        width: 60%;
        margin: 100px auto;

        img {
            width: 100%;
            opacity: 0.3;
        }
    }

    &_detail {
        @include display(flex, column, center, center, 50px);
        width: 90%;
        margin: 35px auto;
        padding: 0;
        position: relative;
        user-select: none;

        &-description {
            width: 100%;
            padding: 0;
            background: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            &_upsection {
                padding: 15px;
                img {
                    width: 100%;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }

                &-title {
                    margin-bottom: 35px;

                    h2 {
                        color: $blue;
                        font-weight: 600;
                    }
                }

                p {
                    color: $text;
                    font-weight: 300;
                }
            }
        }

        &-chapters {
            width: 100%;

            p {
                margin-bottom: 0;
            }
            &_container {
                border: 2px solid $light-gray;
                border-radius: 10px;
                margin-bottom: 20px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                &-head {
                    @include display(flex, row, space-between, center, 10px);
                    background: white;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    .title {
                        @include display(flex, row, center, center, 10px);
                        i {
                            color: $text;
                            font-size: 17px;
                        }
                        h3 {
                            font-size: 16px;
                            color: $blue;
                            margin-bottom: 0;
                        }
                    }

                    p {
                        color: $text;
                    }
                }

                &-items {
                    display: none;
                    background: $sec-bg;
                    margin: 0;
                    padding: 1rem 1.5rem;
                    list-style: none;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    li {
                        @include display(flex, row, flex-start, center, 10px);
                        margin-bottom: 12px;
                        cursor: pointer;

                        p {
                            text-decoration: underline solid;
                        }
                    }
                }
            }

            .active {
                border-color: $green;
            }
        }
    }
}
