.attestation {
    margin-top: 30px;

    h1 {
        @include font(24px, 400, $blue);
        margin-bottom: 30px;
        margin-left: 10px;
    }

    h2 {
        @include font(26px, 600, $blue);
        line-height: 40px;
    }

    p {
        @include font(14px, 500, #8195a4);
        letter-spacing: 0.03rem;
    }

    button {
        border: none;
        border-radius: 10px;
        background: $sec-bg;
        @include font(16px, 300, $blue);
        padding: 7px 25px;

        &:hover {
            background: $sec-blue;
        }
    }

    .certificat {
        width: 300px;
        max-width: 350px;
        background: $body-bg;
        border-radius: 20px;
        padding: 20px;
    }

    .default {
        display: none;
    }

    &-current {
        margin-bottom: 50px;
        &_list {
            @include display(flex, row, center, center, 20px);
            flex-wrap: wrap;
        }
    }

    &-coming {
        margin-bottom: 50px;
        &_list {
            @include display(flex, row, center, center, 20px);
            flex-wrap: wrap;
            .certificat {
                background: #ededed;
                h2 {
                    color: #8d8d8d;
                }
                p {
                    color: #a4a4a4;
                    line-height: 25px;
                    margin: 0;
                }
            }
        }
    }
}

@include media-md {
    .attestation {
        width: 90%;
        margin: 30px auto;
        &-current,
        &-coming {
            &_list {
                justify-content: flex-start;
            }
        }
    }
}
