.teachers{
    margin: 50px 0px;
    h1{
        color: $blue;
        font-size: 30px;        
    }
    .search{
        background-color: $sec-bg;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 20px;
        input{
            padding: 10px;
            width: 100%;
            border: none;
            border-color: none !important;
            box-shadow: none !important;
        }
        i{
            font-size: 24px;
            position: absolute;
            top: 18px;
            right: 18px;
        }
    }
    a{
        text-decoration: none;
    }
    #all{
        .block{
            margin:10px 0px;
            background-color: $sec-bg;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            @media (max-width: 1200px)  and (min-width: 575px)   {
                display: block;
                text-align: center;
                padding-bottom: 30px;
               }
            .img{
                margin-right: 10px;
                img{
                    width: 85px;
                    height: 85px;
                }
            }
            .content{
                margin-left: 5px;
                h3{
                    color: $blue;
                    font-size: 27px;
                }
                p{
                    color:$gray;
                    margin-top: -10px;
                }
                .rating {
                    margin-top: -10px;
                   
                    display: flex !important;
                    @media (max-width: 991px) and (min-width: 575px) {
                        display: block !important;
                        text-align: center;
                       }
                    @media (max-width: 767px) and (min-width: 575px) {
                        margin-left: 24px;
                    }
                    align-items: center;
                    --dir: right;
                    --fill: gold;
                    --fillbg: #bebebe;
                    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
                    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
                    --stars: 5;
                    --starsize: 1.5rem;
                    --symbol: var(--star);
                    --value: 1;
                    --w: calc(var(--stars) * var(--starsize));
                    --x: calc(100% * (var(--value) / var(--stars)));
                  
                    block-size: var(--starsize);
                    
                    inline-size: var(--w);
                    position: relative;
                    touch-action: manipulation;
                    background-color: $sec-bg;
                    @media (max-width: 1201px) and (min-width: 575px) {
                        margin-left: 20px;
                        margin-top: 5px;
                       }
                   
                    -webkit-appearance: none;

                    span{
                        color: $blue;
                        font-weight: 600;
                        font-size: 15px;
                        vertical-align: middle;
                        margin-top: -7px;
                        margin-left: 5px;
                        @media (max-width: 991px) {
                            margin-left: 38px;
                           }
                           @media (max-width: 767px) {
                            margin-left: 51px;
                           
                        }
                    }
                }
                [dir="rtl"] .rating {
                    --dir: left;
                }
                .rating::-moz-range-track {
                    background: linear-gradient(
                        to var(--dir),
                        var(--fill) 0 var(--x),
                        var(--fillbg) 0 var(--x)
                    );
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--symbol);
                }
                .rating::-webkit-slider-runnable-track {
                    background: linear-gradient(
                        to var(--dir),
                        var(--fill) 0 var(--x),
                        var(--fillbg) 0 var(--x)
                    );
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--symbol);
                    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
                }
                .rating::-moz-range-thumb {
                    height: var(--starsize);
                    opacity: 0;
                    width: var(--starsize);
                }
                .rating::-webkit-slider-thumb {
                    height: var(--starsize);
                    opacity: 0;
                    width: var(--starsize);
                    -webkit-appearance: none;
                }
                .rating,
                .rating-label {
                    display: block;
                    font-family: ui-sans-serif, system-ui, sans-serif;
                }
                .rating-label {
                    margin-block-end: 1rem;
                }
            
                /* NO JS */
                .rating--nojs::-moz-range-track {
                    background: var(--fillbg);
                }
                .rating--nojs::-moz-range-progress {
                    background: var(--fill);
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--star);
                }
                .rating--nojs::-webkit-slider-runnable-track {
                    background: var(--fillbg);
                }
                .rating--nojs::-webkit-slider-thumb {
                    background-color: var(--fill);
                    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
                    opacity: 1;
                    width: 1px;
                }
                [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
                    box-shadow: var(--w) 0 0 var(--w) var(--fill);
                }
                
            }
        }
    }
    .view_more{
        margin-top: 20px;
        .col-12{
            a{
                background-color: $pink;
               
                padding: 9px 50px;
                color: white;
                font-weight: 600;
                font-size: 20px;
                text-decoration: none;
                border-radius: 10px;
                &:hover{
                    background-color: #a32e43;
                }
            }
        }
    }
}
.teacher{
    margin-top: 20px;
    .detail{
        h3{
            color: $blue;
            font-size: 27px;
            font-weight: 600;
        }
        .prof{
            margin:10px 0px;
            background-color: $sec-bg;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @media (max-width: 403px) {
                display: block;
                text-align: center;
                padding-bottom: 30px;
               }
            .img{
                @media (max-width: 320px) {
                    margin-top: 48px;
                   
                   }
                   
                img{
                    width: 120px;
                    height: 120px;
                }
            }
            .content{
                margin-left: 5px;
                h3{
                    color: $blue;
                    font-size: 27px;
                }
                p{
                    color:$gray;
                    margin-top: -10px;
                }
                .rating {
                    display: flex !important;
                    @media (max-width: 403px) {
                        margin: 10px auto;
                       }
                       @media (max-width: 320px) {
                        display: block !important;
                       }
                    // @media (max-width: 991px) and (min-width: 575px) {
                    //     display: block !important;
                    //     text-align: center;
                    //    }
                    // @media (max-width: 767px) and (min-width: 575px) {
                    //     margin-left: 24px;
                    // }
                    align-items: center;
                    --dir: right;
                    --fill: gold;
                    --fillbg: #bebebe;
                    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
                    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
                    --stars: 5;
                    --starsize: 1.5rem;
                    --symbol: var(--star);
                    --value: 1;
                    --w: calc(var(--stars) * var(--starsize));
                    --x: calc(100% * (var(--value) / var(--stars)));
                  
                    block-size: var(--starsize);
                    
                    inline-size: var(--w);
                    position: relative;
                    touch-action: manipulation;
                    background-color: $sec-bg;
                    // @media (max-width: 1201px) and (min-width: 575px) {
                    //     margin-left: 20px;
                    //     margin-top: 5px;
                    //    }
                   
                    -webkit-appearance: none;

                    span{
                        color: $blue;
                        font-weight: 600;
                        font-size: 15px;
                        vertical-align: middle;
                        margin-top: -1px;
                        margin-left: 5px;
                    }
                }
                [dir="rtl"] .rating {
                    --dir: left;
                }
                .rating::-moz-range-track {
                    background: linear-gradient(
                        to var(--dir),
                        var(--fill) 0 var(--x),
                        var(--fillbg) 0 var(--x)
                    );
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--symbol);
                }
                .rating::-webkit-slider-runnable-track {
                    background: linear-gradient(
                        to var(--dir),
                        var(--fill) 0 var(--x),
                        var(--fillbg) 0 var(--x)
                    );
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--symbol);
                    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
                }
                .rating::-moz-range-thumb {
                    height: var(--starsize);
                    opacity: 0;
                    width: var(--starsize);
                }
                .rating::-webkit-slider-thumb {
                    height: var(--starsize);
                    opacity: 0;
                    width: var(--starsize);
                    -webkit-appearance: none;
                }
                .rating,
                .rating-label {
                    display: block;
                    font-family: ui-sans-serif, system-ui, sans-serif;
                }
                .rating-label {
                    margin-block-end: 1rem;
                }
            
                /* NO JS */
                .rating--nojs::-moz-range-track {
                    background: var(--fillbg);
                }
                .rating--nojs::-moz-range-progress {
                    background: var(--fill);
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--star);
                }
                .rating--nojs::-webkit-slider-runnable-track {
                    background: var(--fillbg);
                }
                .rating--nojs::-webkit-slider-thumb {
                    background-color: var(--fill);
                    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
                    opacity: 1;
                    width: 1px;
                }
                [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
                    box-shadow: var(--w) 0 0 var(--w) var(--fill);
                }
                
            }
        }
        .description{
            margin: 10px 0px;
            background-color: $sec-bg;
            padding: 15px;
            border-radius: 10px;
            h3{
                margin-top: 10px;
            }
            p{
                margin-top: 20px;
            }
        }
        .formation-teacher{
            p{
                color: $blue;
                font-size: 20px;
                margin-top: 15px;

                @media (max-width: 345px) {
                    font-size: 18px;
                   }
                span{
                    font-weight: 600;
                }


            }
            .all-formation{
                .main-scroll{
                    nav{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .icon{
                        color: $blue;
                        background-color: transparent;
                        font-size: 30px;
                        outline: none;
                        border: none;
                        padding: 0px;
                        cursor: pointer;

                        &:hover{
                            color: rgba($blue, .2);
                        }
                        @media (max-width: 345px) {
                            display: none;
                          
                           }
                    }
                    .cover{
                        position: relative;
                        width: 100%;
                        height: 50%;
                        .scroll{
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            overflow: auto;
                            position: relative;
                            scroll-behavior: smooth;

                            &::-webkit-scrollbar
                            {
                                -webkit-appearance: none;
                            }

                            @media (max-width: 345px) {
                                display: block;
                                overflow: none;
                                scroll-behavior: none;
                               }
                        }
                       
                    }
                    .block{
                        margin: 10px;
                        background-color: $sec-bg;
                        width: 312px;
                        border-radius: 10px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                            @media (max-width: 345px) {
                               width: 250px;
                               margin: 10px auto;
                               }
                        .image{
                            position: relative;
                            .img_bg{
                                img{
                                    max-width:312px;
                                    height: 230px;
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                    @media (max-width: 345px) {
                                        width: 250px;
                                        height: 200px;
                                        }
                                }
                            }
                            .img_teacher{
                                position: absolute;
                                left: 50%;
                                bottom:-81px;
                                transform: translate(-50%,-50%);
                                z-index: 2;
                                img{
                                    
                                    border-radius: 50%;
                                }
                            }
                        }
                        .info{
                           padding: 0px 10px;
                            margin: 30px 0px 10px 0px;
                           .time_rating{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 5px;
                            margin-top: 13px;
                            @media (max-width: 1201px) and (min-width: 767px) {
                             display: block;
                             text-align: center;
                            }
                            .time{
                                color: $blue;
                                font-size: 12px;
                                font-weight: 700;
                                i{
                                    font-size: 12px;
                                   
                                }
                            }
                            .rating {
                                --dir: right;
                                --fill: gold;
                                --fillbg: #bebebe;
                                --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
                                --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
                                --stars: 5;
                                --starsize: 1.5rem;
                                --symbol: var(--star);
                                --value: 1;
                                --w: calc(var(--stars) * var(--starsize));
                                --x: calc(100% * (var(--value) / var(--stars)));
                              
                                block-size: var(--starsize);
                                
                                inline-size: var(--w);
                                position: relative;
                                touch-action: manipulation;
                                background-color: $sec-bg;
                                @media (max-width: 1201px) and (min-width: 767px) {
                                    margin-left: 20px;
                                    margin-top: 5px;
                                   }
                               
                                -webkit-appearance: none;
                            }
                            [dir="rtl"] .rating {
                                --dir: left;
                            }
                            .rating::-moz-range-track {
                                background: linear-gradient(
                                    to var(--dir),
                                    var(--fill) 0 var(--x),
                                    var(--fillbg) 0 var(--x)
                                );
                                block-size: 100%;
                                mask: repeat left center/var(--starsize) var(--symbol);
                            }
                            .rating::-webkit-slider-runnable-track {
                                background: linear-gradient(
                                    to var(--dir),
                                    var(--fill) 0 var(--x),
                                    var(--fillbg) 0 var(--x)
                                );
                                block-size: 100%;
                                mask: repeat left center/var(--starsize) var(--symbol);
                                -webkit-mask: repeat left center/var(--starsize) var(--symbol);
                            }
                            .rating::-moz-range-thumb {
                                height: var(--starsize);
                                opacity: 0;
                                width: var(--starsize);
                            }
                            .rating::-webkit-slider-thumb {
                                height: var(--starsize);
                                opacity: 0;
                                width: var(--starsize);
                                -webkit-appearance: none;
                            }
                            .rating,
                            .rating-label {
                                display: block;
                                font-family: ui-sans-serif, system-ui, sans-serif;
                            }
                            .rating-label {
                                margin-block-end: 1rem;
                            }
                        
                            /* NO JS */
                            .rating--nojs::-moz-range-track {
                                background: var(--fillbg);
                            }
                            .rating--nojs::-moz-range-progress {
                                background: var(--fill);
                                block-size: 100%;
                                mask: repeat left center/var(--starsize) var(--star);
                            }
                            .rating--nojs::-webkit-slider-runnable-track {
                                background: var(--fillbg);
                            }
                            .rating--nojs::-webkit-slider-thumb {
                                background-color: var(--fill);
                                box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
                                opacity: 1;
                                width: 1px;
                            }
                            [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
                                box-shadow: var(--w) 0 0 var(--w) var(--fill);
                            }
                           }
                           .title{
                             text-align: center;
                             margin-top: 10px;
                                h2{
                                    font-size: 18px;
                                }
                                p{
                                    color: $gray;
                                    font-size: 15px;
                                }
                           }
                           
                        }
                        .btn{
                            text-align: center;
                            width: 100%;
                            background-color: $sec_blue;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;   
                            color: white;
                            text-decoration: none;
                            font-weight: 700; 
                            &:hover{
                                    background-color: #266ea5;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}