// Body
$body-bg: white;
$sec-bg: #d8eefe;
$blue: #094067;

$sec_blue: #3da9fc;
$gray: #5f6c7b;
$light-gray: #cdcdcd;
$pink: #ef4565;
$yellow: gold;

// Typography
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//FlexBox
@mixin display($display, $direction, $justify, $align, $gap) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin hideContent() {
    position: absolute;
    visibility: hidden;
    
}

@mixin media-sm {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 900px) {
        @content;
    }
}

@mixin media-xl{
    @media screen and (min-width: 1280px){
        @content;
    }
}

@mixin media-2xl{
    @media screen and (min-width: 1440px){
        @content;
    }
}

