// Body
$body-bg: white;
$sec-bg: #d8eefe;
$blue: #094067;
$sec_blue: #3da9fc;
$text: #4c80a5;
$gray: #5f6c7b;
$light-gray: #cdcdcd;
$pink: #ef4565;
$yellow: gold;
$green: #548a54;
$light-green: #e6fde6;

// Typography
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//FlexBox
@mixin display($display, $direction, $justify, $align, $gap) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flex($direction, $justify, $align, $gap) {
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

//Font adjsutement
@mixin font($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin hideContent() {
    position: absolute;
    visibility: hidden;
}

//Custom scrollbar
@mixin scrollbar() {
    ::-webkit-scrollbar {
        width: 0px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: $light-gray;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $gray;
    }
}

@mixin media-sm {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 900px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin media-2xl {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}
