// Body
$body-bg: white;
$sec-bg: #D8EEFE;
$blue: #094067;
$sec_blue: #3DA9FC;
$gray: #5F6C7B;
$pink:#EF4565;
$yellow: gold;



// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
